form {
    margin: auto;
    text-align: center;
}

#exampleInputEmail1 {
    width: 300px;
    margin: auto;
}

#zipCodeInput {
width: 300px;
margin: auto;

    

}

#page2Container {
    margin: auto;
    text-align: center;
}

#image {
    padding: 5px;
    margin-left: 42%;
}
   
    

#page3Container {
    width: 325px;
    margin-left: 25px;
    border: solid 1px red;
}
.restaurant {
    margin-left: 25px;
    border: solid 1px teal;
    width: 300px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    
}