form {
    margin: auto;
    text-align: center;
}

#exampleInputEmail1 {
    width: 300px;
    margin: auto;
}

#zipCodeInput {
width: 300px;
margin: auto;

    

}

#page2Container {
    margin: auto;
    text-align: center;
}

#image {
    padding: 5px;
    margin-left: 42%;
   
    

}