form {
    margin: auto;
    text-align: center;
}

#exampleInputEmail1 {
    width: 300px;
    margin: auto;
}

#zipCodeInput {
width: 300px;
margin: auto;

    

}

#page2Container {
    margin: auto;
    text-align: center;
    
}

#image {
    padding: 5px;
    margin-left: 42%;
}
   
    

#page3Container {
    width: 690px;
    margin-left: 200px;
    /* border: solid 1px red; */
    float: left;

}
.restaurant {
    margin-left: 25px;
    /* border: solid 1px teal; */
    width: 300px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    float: left;
    
}

#logInContainer {
    margin: auto;
    width: 300px;
}

#result {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color: gold;
    text-align: center;
    color: maroon;
    font-size: 20px;
   
}

#page3Container2 {
    float:left;
    
}

img {
    
    height: 150px;
}


#cardDisplay {
    
    font-size: 20px;
    font-weight: bolder;
    height: 500px;

}

.card-image {
    width: 400px;
}

.card-title{
    text-align: center;

}

.card-text{
    text-align: center;
}

.jumbotron {
    margin: 20px;
    background-image: url('../images/banner.png');    
    background-position: center;
}


.lead{
    text-align: center;
    
    font-style: bold;
}

}

.clickMe {
    color: teal;

}

#cookie {
    height:300px;
    width:300px;
}

#myModal {
    height: 1300px;
    width: 450px;
    background-image: url('../images/dylan.png');
    text-align: center;
    color: red;
    font-weight: 300;
    font-size: 30px;

    

    
}

